<h1>Boissons</h1>

<a class="btn btn-warning"<%= link_to 'Ajouter une boisson', new_boisson_path %></a>
<table class="table">

  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Désignation </th>
      <th scope="col">Prix</th>
      <th scope="col">TVA</th>

    </tr>

  </thead>

  <tbody>
<% @boissons.each do |boisson| %>
    <tr>

      <th scope="row"><%= boisson.id %>  </th>
      <td><%= boisson.nom  %>
        <%= link_to boisson_path(boisson), method: :delete, data: { confirm: "Êtes vous sûre?" } do %>
         <i class="fas fa-trash-alt"></i>
        <% end %>
        <%= link_to edit_boisson_path(boisson) do %>
      <i class="fas fa-pencil-alt"></i>
      <% end %></td>
      <td><%= boisson.prix %></td>
      <td></td>
    </tr>

<% end %>


  </tbody>
</table>
