<h1>Commandes</h1>
 <a class= "btn btn-sm btn-success"<%= link_to "Ajouter une commande", new_commande_path %><a>

<p><% @commandes.each do |commande| %>
<div class="card-deck">
  <div class="card text-center">
    <div class="card-header">
      <a href= "<%= commande_path(commande)  %>" >Commande n°: <%= commande.numeros %></a>

     <p>Couverts: <%= commande.couverts %></p>
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>


    </div>
    <div class="card-footer text-muted">
      <%= commande.statut ? "Terminé" : "En cours"  %>
    </div>
  </div>
</div>
<% end %>
