<div class="jumbotron">

  <h4 class="display-6">Commande n°<%= @commande.numeros %> / Couverts:  <%= @commande.couverts %></h4>
  <p class="lead"><% @commande.articles.each do |article| %></p>
  <%= article.designation %>

  <%end %>
  <hr class="my-4">

  <%= simple_form_for @commande do |f| %>
  <%= f.select :articles, Article.all.map { |r| r.designation }%>
  <%= f.submit 'ajouter' %>


  <% end %>
  <p>...</p>
  <a href="<%= commandes_path %>" class="btn btn-primary">Retour</a>
  Learn more</a>
</div>


