<h1>Cuisine</h1>


<%@tables.each do |t|  %>
<% if !t.pret  %>
<%= simple_form_for t do |f| %>

<%= f.input_field :pret, as: :boolean, boolean_style: :inline%>
<%= f.button  :submit, "Envoyé" %>
<% end %>
<h1>
<p>num: <%= t.nom %> couverts:  <%= t.couvert %></p>
</h1>

<p>entrées</p>
<p><% t.articles.each do |a|%>

<ul class="list-group">
  <li class="list-group-item"><%=  a.designation%></li>
</ul>

  <% end %>
  <% end %>
</p>
<% end %>



