


     <span class= "d-flex justify-content-center mb-3">
       <a class= "btn btn-lg btn-primary" <%= link_to "Ajouter une table", new_table_path %><a>
     </span>

<div class="card-group d-flex justify-content-center">

      <% @tables.each do |table| %>
      <div class="card " style="width: 5rem;">
        <div class="card-body">
          <a href= "<%= table_path(table)  %>" >T: <%= table.nom %></a>
          <p class="card-text">C(s): <%= table.couvert %></p>
        </div>
        <div class="card-footer">
          <%= link_to "Supprimer", table_path(table), method: :delete %>
        </div>
      </div>
      <% end %>


</div>






