<div class="jumbotron">

  <h4 class="display-6">Table n°<%= @table.nom %> / Couverts:  <%= @table.couvert %> <%= @table.id %></h4>
  <p class="lead"><% @table.tickets.each do |ticket| %></p>


  <%= ticket.article.designation %> --> prix: <%= ticket.article.prix %> €
  <%= link_to ticket_path(ticket), method: :delete do %>
  <i class="fas fa-minus-circle"></i>
  <% end %>


 <%end %>


  <hr class="my-4">

  <%= simple_form_for [@table, @ticket]  do |f| %>

    <%= f.select :article_id, Article.all.collect { |a|  [a.designation, a.id]} %>

  <%= f.submit 'ajouter' %>

  <% end %>

  <a href="<%= tables_path %>" class="btn btn-primary">Retour</a>
</div>


