<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>

    <nav class="navbar navbar-expand-md navbar-dark  bg-dark fixed-top">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="<%= root_path %>">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= tables_path %>">Tables</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= articles_path %>">Articles</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="<%= cuisine_path %>">Cuisines</a>
           </li>
         </ul>
        </div>
      </nav>
      <div class="space">
        <h1>gfgfgg</h1>
      </div>

<div class="container">
  <%= yield %>
</div>







    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
